# Mac
.DS_Store

# IDE
.*/
!.vuepress/

# Github
.github/

# Python
__pycache__/
.python-version

# Temp files
*.tmp

# Build files
build/
dist/

# Web docs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
docs/.vuepress/_state.json
docs/.vuepress/public/notebooks/
docs/*/_*.md
docs/notebooks/README.md
