
if __name__ == "__main__":
    # Rollout using the above planner.

    domain = {{domain_cls}}()
    planner = Planner(domain=domain)

    # rollout
    max_steps = 100
    nb_step = 0
    total_cost = 0
    observation = domain.reset()
    termination = False
    while not termination and nb_step < max_steps:
        applicable_actions = domain.get_applicable_actions()
        action = planner.sample_action(observation, applicable_actions)
        outcome = domain.step(action=action)
        observation = outcome.observation
        termination = outcome.termination
        total_cost += outcome.value.cost
        nb_step += 1

    print(f"total cost: {total_cost}")
