name: bump
on:
  push:
    branches:
      - master
    paths-ignore:
      - README.md
      - .github/workflows/bump.yml
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
        REPO_OWNER: galleon
        WITH_V: true
        INITIAL_VERSION: 0.6.5
